html body {
  background-image: url('../img/golden-gate-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}

#nav-bar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color:rgba(28, 1, 24, 1.0);
  z-index: 9999;
}

#nav-bar ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

#nav-bar ul li {
  display: inline;
  list-style: none;
}

#nav-bar ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 24px;
  vertical-align: middle;
  padding: 15px;
}

#nav-bar ul li a:hover {
  color: white;
  text-shadow: 0px 0px 3px white;
  opacity: 1;
  vertical-align: middle;
}

#intro {
  height: 80vh;
  padding-top: 395px;
  line-height: 50px;
  display: block;
  color: white;
  opacity: 0.7;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}

#experience {
  padding-top: 50px;
}

#experience:hover {
  cursor: default;
}

#experience-header {
  display: block;
  color: white;
  opacity: 0.7;
  font-size: 56px;
  text-align: center;
  vertical-align: middle;
}

#experience-section {
  width: auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 300px;
  margin-right: 300px;
  height: auto;
}

#experience-text {
  width: auto;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-align: left;
  vertical-align: middle;
}

#interests-grid {
  /* TODO: Fix this centering? */
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
  height: auto;
  padding-top: 300px;
}

#interests-header {
  display: block;
  color: white;
  opacity: 0.7;
  font-size: 56px;
  text-align: center;
  vertical-align: middle;
}

#interests-list{
  padding-top: 50px;
  list-style-type: none;
  columns: 3;
}

#interest-box {
  margin-bottom: 25px;
  width: 300px;
  height: 300px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

#interest-box a{
  /* TODO: Make this have a background to show that it is clickable. Or change color. */
  color: white;
  opacity: 0.7;
  font-size: 28px;
  text-decoration: none;
}

#interest-box a:hover {
  text-shadow: 0px 0px 3px white;
  opacity: 1;
}

#interest-box a span {
  display: block;
}

#contact-header {
  display: block;
  color: white;
  opacity: 0.7;
  font-size: 56px;
  text-align: center;
  vertical-align: middle;
}

#contact-form {
  width: auto;
  margin-left: 400px;
  margin-right: 400px;
  height: auto;
  vertical-align: middle;
  text-align: left;
}

#contact-label {
  width: 140px;
  display: inline-block;
  text-align: right;
  color: white;
  opacity: 0.7;
  font-size: 28px;
}

#contact-input {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  outline-color: white;
  color: white;
  font-family: 'Raleway', sans-serif;
  opacity: 0.7;
  font-size: 28px;
  width: 600px;
  height: 50px;
}

#contact-input-error {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid red;
  outline-color: red;
  color: white;
  font-family: 'Raleway', sans-serif;
  opacity: 0.7;
  font-size: 28px;
  width: 600px;
  height: 50px;
}

#message-area {
  vertical-align: top;
  resize: none;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  outline-color: white;
  color: white;
  font-family: 'Raleway', sans-serif;
  opacity: 0.7;
  font-size: 28px;
  width: 600px;
  height: 400px;
}
