<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link type="text/css" href="static/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/424be27a87.js"></script>
    <title>Zachary Behnke</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="static/lib/bundle.js"></script>
  </body>
</html>
